@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazir";
    src: url("../public/Font/vazir-font-v16.1.0/Vazir-Light.woff")
        format("woff"),
      url("../public/Font/vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2");
    font-weight: 300;
  }

  @font-face {
    font-family: "Vazir";
    src: url("../public/Font/vazir-font-v16.1.0/Vazir-Medium.woff")
        format("woff"),
      url("../public/Font/vazir-font-v16.1.0/Vazir-Medium.woff2")
        format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Vazir";
    src: url("../public/Font/vazir-font-v16.1.0/Vazir-Bold.woff") format("woff"),
      url("../public/Font/vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2");
    font-weight: 700;
  }

  body {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
  }

  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .light-range-webkit-input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background: white;
    border: 2.5px solid #3d5cff;
    cursor: pointer;
  }

  .light-range-moz-input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background: white;
    border: 2.5px solid #3d5cff;
    cursor: pointer;
  }

  .dark-range-webkit-input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background: #3d5cff;
    border: 2.5px solid #fff;
    cursor: pointer;
  }

  .dark-range-moz-input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    background: #3d5cff;
    border: 2.5px solid #fff;
    cursor: pointer;
  }

  .desktop-element {
    display: none;
  }

  @media screen and (min-width: 532px) {
    .primary-element {
      display: none;
    }

    .desktop-element {
      display: flex;
    }
  }
}
